@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Lobster+Two&family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@400;500;600;700&family=Racing+Sans+One&family=Rajdhani:wght@500&family=Roboto+Mono:wght@100&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  /* font-family: "Rajdhani", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 4px;
}

.toast-message {
  color: #222;
  font-weight: semibold;
  font-size: 1em;
  font-family: "Rajdhani", sans-serif;
  text-transform: capitalize;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 110px;
}

.bounce:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid silver;
}

@media screen and (max-width: 1100px){
  .main-container {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}


@media screen and (max-width: 700px){
  .main-container {
    grid-template-columns: 1fr;
  }
}

.single__product {
  display: grid;
  grid-template-columns: 12% 48% 30%;
  grid-gap: 80px;
}

.icon__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1269px){
  .single__product {
    grid-gap: 5px;
  }
}


@media screen and (max-width: 903px){
  .single__product {
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }

  .image-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1em;
    padding-left: 1em;
  }
  .image-content {
    padding-right: 1em;
  }
}

@media screen and (max-width: 388px){
  .image-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    grid-gap: 1px;
    padding-left: 1em;
  }

  .icon__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    grid-gap: 1px;
  }
}


